<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div id="app">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <label for="">From</label>
                  <select name="" id="" class="form-control" v-model="from">
                   
                        <option v-for="currencies in formattedCurrencies" :value="currencies.id">{{ currencies.currencyName}}</option>
                
                  </select>
              </div>
              <div class="col-md-6">
                <label for="">To</label>
                <select name="" id="" class="form-control" v-model="to">
                    <option v-for="currencies in formattedCurrencies" :value="currencies.id">{{ currencies.currencyName}}</option>
                </select>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <input type="text" v-model="amount" placeholder="amount" class="form-control my-5">
                  <div class="text-center">
                      <button class="btn btn-lg btn-primary">
                            Convert
                      </button>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <h1 class="text-center display-2 mt-5">54.34</h1>
              </div>
          </div>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script src="app.js"></script>
</body>
</html>